.e {
    color:red;
    font-size: 70px;
}
.ea {
    color:orange;
    font-size: 70px;
}
.eas {
    color: yellow;
    font-size: 70px;
}
.easy {
    color: green;
    font-size: 70px;
}
.easyt {
    color: rgb(0, 162, 255);
    font-size: 70px;
}
.easyte {
    color: blue;
    font-size: 70px;
}
.easytea {
    color: purple;
    font-size: 70px;
}
.men {
    text-align: center;
    color: red;
    font-size: 40px;
    background-color: black;
}
.nice {
    font-size: 30px;
    color:black;
    margin-left: 25vh;
}
.vkus {
text-align: center;
font-size: 45px;
color: lime;
background-color: black;
}
.dob {
    text-align: center;
    font-size: 50px;
    color: orange;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: black;
}
.good {
    font-size: 30px;
    color: black;
    margin-left: 25vh;
}
.header {
    font-size: 40px;
    text-align: center;
}
.log {
    text-align: end;
    border:0 solid red;
    margin-right:0;
    margin-top: 0;
    background:-webkit-linear-gradient(deepskyblue,blue );

}
.div {
    background:-webkit-linear-gradient(red,yellow);
    height: 100vh;
    max-width: 20vh;
    float:left;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
}
body {
    margin: 0;
}
.button {
background-color: black;
}
.flexend {
    display: flex;
    justify-content: end;
}
.flexcenter {
    display: flex;
    justify-content: center;
}
.good:hover {
    color:red;
}
.butto {
    color:blueviolet;
    font-size: 23px;
    margin-bottom: 85vh;
    padding: 20px;
    background-color: black;
    border: 6px solid white;
    text-decoration: none;
}
.butto:hover {
    color:red;
}
.div:hover {
    animation-name: colorchange;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes colorchange {
    from {
         width:20vh; 
        }
    to {
         width:25vh;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 25vh;
}
body {
    background-color: rgb(0, 162, 255);
}
.one {
    background-color: pink;
    max-width: 10vw;
    margin: 20px;
    padding: 20px;
}
.lean {
    height:40px;
    background-color: purple;
}
.text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.container-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 25vh;
}
