@media(max-width:10000px) {
.nav {
    width: 100vw;
    height: 10vh;
    filter: opacity(75%);
    display: flex;
    align-items: center;
    background-color: white;
    justify-content:space-around;
    flex-wrap: wrap;
}
body {
    margin: 0; 
    overflow-x: hidden;
}
.nav-1 {
    text-decoration: none;
    color: red;
    font-size: 20px;
}
.nav-1:hover {
    color: purple;
}
nav {
    position: fixed;
}
.othernintyvh {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.img-a > img{
    width: 50vw;
    height: 90vh;
}
.img-a {
    margin-top: 10vh;
}
.text-a {
    margin-top: 10vh;
    height: 90vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: beige;
}
.seventyvh {
    height: 70vh;
    width: 100vw;
    display: flex;
}
.text-b {
    height: 70vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: beige;
}
.img-b > img  {
    width: 50vw;
    height: 70vh;
}
.hungvh {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.text-c {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: beige;
}
.img-c > img {
    height: 50vh;
    width: 50vw;
}
}
@media(max-width:1200px) {
    .othernintyvh {
        height: 50vh;
        width: 100vw;
        display: flex;
    padding-bottom: 10vh;
    }
    .img-a > img{
        width: 50vw;
        height:50vh;
    }
    .text-a {
        height: 50vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background-color: beige;
    }
    .seventyvh {
        height: 35vh;
        width: 100vw;
        display: flex;
    }
    .text-b {
        height: 35vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background-color: beige;
    }
    .img-b > img  {
        width: 50vw;
        height: 35vh;
    }
    .img-c > img {
        height: 25vh;
        width: 50vw;
    }
    .hungvh {
        height: 50vh;
        width: 100vw;
        display: flex;
    }
    .text-c {
        height: 50vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background-color: beige;
    }
}
@media(max-width:768px) {
    .othernintyvh {
        height: 35vh;
        width: 100vw;
        display: flex;
        padding-bottom: 10vh;
    }
    .img-a > img{
        width: 50vw;
        height:35vh;
    }
    .text-a {
        height: 35vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background-color: beige;
    }
}
@media(max-width:600px) {
    .nav {
        width: 100vw;
        height: 15vh;
        filter: opacity(75%);
        display: flex;
        align-items: center;
        background-color: white;
        justify-content:space-around;
        flex-wrap: wrap;
        gap:15px
    }
    .othernintyvh {
        height: 25vh;
        width: 100vw;
        display: flex;
        padding-bottom: 15vh;
    }
    .text-a {
        height: 25vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: beige;
    }
    .img-a > img{
        width: 50vw;
        height: 25vh;
    }
    .seventyvh {
        height: 17.5vh;
        width: 100vw;
        display: flex;
    }
    .text-b {
        height: 17.5vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: beige;
    }
    .img-b > img  {
        width: 50vw;
        height: 17.5vh;
    }
    .img-c > img {
        height: 12.5vh;
        width: 50vw;
    }
    .hungvh {
        height: 25vh;
        width: 100vw;
        display: flex;
    }
    .text-c {
        height: 25vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: beige;
    }
}