@media (max-width: 10000px){
.nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgba(43, 43, 43, 1);
}
body {
    margin: 0;
    overflow-x: hidden;
}
.log {
    display: flex;
    height: 10vh;
    align-items: center;
}
.log > img {
    height: 10vh;
}
.panel {
    padding-left: 50px;
    display: flex;
    height: 10vh;
    gap: 85px;
    align-items: center;
}
.panel > span {
    font-size: 25px;
    color: white;
}
.panel > span:nth-of-type(1) {
    color: #fce000;
}
.writein {
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.writein > button {
    background-color: #fce000;
    width: 200px;
    height: 70px;
    font-size: 20px;
    border-radius: 20px;
}
.main {
    height: 90vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainblock {
    width: 85vw;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainblock > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.mainblock > div > button {
    border: 0;
    background-color: #fce000;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
}
.mainblock > div > img {
    width: 20vw;
}
.main-two {
    height: 70vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form > img {
    width: 30vw;
    height: 70vh;
    border-radius: 30px;
}
.writeun {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 80px;
}
.text {
    margin-left: 30vw;
}
.telegram, .whatsapp, .viber, .channel-telegram {
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
    width: 7vw;
    background-color: wheat;
    gap: 10px;
}
.whatsapp {
    gap: 3px;
}
a {
    text-decoration: none;
    color: black;
}
.writein > button {
    border: 0;
}
.questions-answers {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.questions-answers > div {
    height: 50vh;
    width: 50vw;
    background-color: whitesmoke;
    display: flex;
}
.questions-answers > .img > .windowone > img {
    width: 200px;
    height: 200px;
}
.questions-answers > .img > .windowtwo > img {
    width: 200px;
    height: 200px;
}
.questions-answers > .img > .windowthree > img {
    width: 200px;
    height: 200px;
}
.questions-answers > .img > .windowfour > img {
    width: 200px;
    height: 200px;
}
.texts {
    width: 30vw;
}
}
