body {
    background-color: green;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}
.h1 {
 color: white;  
 width:100vw;
}
a {
    text-decoration: none;
    font-size: 40px;
}
button {
    width: 100vw;
    height: 20vh;
    color: white;
    background-color: red;
}