.contactwithinst {
    height: 15vh;
    width: 100vw;
    display: flex;
}
body {
    margin: 0;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 15vh;
    background-color:#fec564;
}
.inst {
    width: 30vw;
    height: 15vh;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    height: 85vh;
    width: 100vw;
    background-color: #5258cf;
}
.h1 > h1 {
    text-align: center;
    margin: 0;
    font-size: 50px;
    color: #d9317a;
}
.cards {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inst > a {
    text-decoration: none;
    color: red;
    font-size: 50px;
}
.inst > a:hover {
    color: purple;
}
.card-a, .card-b, .card-c, .card-d, .card-e {
    height: 50vh;
    width: 15vw;    
}
.zag-a, .zag-b, .zag-c, .zag-d, .zag-e {
    background-color: #893dc2;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fec564;
}
.main-a, .main-b, .main-c, .main-d, .main-e {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1 {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .main-a > img {
    width: 100%;
    height: 100%;
}
.main-b > img {
    width: 100%;
    height: 100%;
}
.main-c > img {
    width: 100%;
    height: 100%;
}
.main-d > img {
    width: 100%;
    height: 100%;
}
.main-e > img {
    width: 100%;
    height: 100%;
}
.contact > h1::first-letter {
    color: #893dc2;
    font-size: 2em;
    margin-right: 2px;
    font-weight: bold;
}
.contact > h1 {
    color: #6559ca;
}
