#e {
    color:red;
    font-size: 70px;
}
#ea {
    color:orange;
    font-size: 70px;
}
#eas {
    color: yellow;
    font-size: 70px;
}
#easy {
    color: green;
    font-size: 70px;
}
#easyt {
    color: rgb(0, 162, 255);
    font-size: 70px;
}
#easyte {
    color: blue;
    font-size: 70px;
}
#easytea {
    color: purple;
    font-size: 70px;
}
#men {
    text-align: center;
    color: red;
    font-size: 40px;
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 700px;
    margin-right: 700px;
}
.nice {
    font-size: 30px;
    color:black;
    margin-left: 250px;
}
#vkus {
text-align: center;
font-size: 45px;
color: lime;
margin-left: 500px;
margin-right: 500px;
background-color: black;
}
#dob {
    text-align: center;
    font-size: 50px;
    color: orange;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 800px;
    margin-right: 800px;
    background-color: black;
}
.good {
    font-size: 30px;
    color: black;
    margin-left: 250px;
}
.header {
    font-size: 40px;
    text-align: center;
}
.log {
    text-align: end;
    border:0px solid red;
    margin-left: 1650px;
    margin-top: 0px;
    background:-webkit-linear-gradient(deepskyblue,blue )
}
#div {
    padding:0px 200px 869px 0px;
    background:-webkit-linear-gradient(red,yellow);
    height: 100px;
    float:left;
    position:fixed
}
body {
    margin: 0;
}
.button {
background-color: black;
}
